@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");
.search-container {
  position: absolute;
  margin: 7px auto;
  top: 0;
  left: 56%;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}
.search-container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: rgb(97, 97, 97);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.search-container .search:hover {
  cursor: pointer;
}
.search-container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 12px;
  right: 0;
  bottom: 0;
  left: 12px;
  width: 6px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.search-container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}
.search-container .new-search {
  font-family: "Inconsolata", monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: #fff;
  color: rgb(97, 97, 97);
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 rgb(97, 97, 97), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.search-container .new-search:hover {
  cursor: pointer;
}
.search-container .new-search:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.search-container .new-search:focus ~ .search {
  right: -265px;
  background: rgb(97, 97, 97);
  z-index: 6;
}
.search-container .new-search:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.search-container .new-search:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.search-container .new-search::placeholder {
  color: rgb(97, 97, 97);
  opacity: 0.5;
  font-weight: bolder;
}

.login-header {
  margin-right: 50px;
}

.header-title {
  color: #616161;
  background: linear-gradient(to bottom, transparent 74%, #fff 0);
  padding: 0 15px 2px 13px;
  background-size: 94% 100%;
  margin-left: 50px;
}